*{
    margin: auto;
  }
  body{                                                                                                       
     background-color:  #f1f5f8;;
  }
  nav{
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgb(36, 33, 33);
      display: grid;
      align-items: center;
      height: 3rem;
  }
  .nav-center{
      width: 90vw;
      max-width: fit-content;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  h4{
      color: rgb(208, 0, 255);
  }
  .nav-links{
      display: flex;
  }
 
  li{
      list-style-type: none;
      
  }
  a{
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: 0.1em;
      margin-right: 1rem;
      color: rgb(9, 28, 243);
  }
  a:hover{
      color: rgb(46, 33, 164);
  }

  main{
      min-height: calc(100vh -3rem);
      display: grid;
      place-items: center;
      margin-top: 20%;
  }

  .container{
      text-align: center;
  }

  .container h2{
      background-color: #000;
      color: #fff;
      padding: 1rem;
      border-radius:5px;
      margin-bottom: 2.5rem;
  }

  /* .color{
      color:  #f1f5f8;;
  } */

  .btn-hero{
      font-family: 'Times New Roman', Times, serif;
      text-transform: uppercase;
      background: transparent;
      color: #000;
      letter-spacing: 0.1rem;
      display: inline-block;
      font-weight: 700;
      transition: all 0.3s linear;
      border: 2px solid #000;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
      border-radius: 0.25rem;
      font-size: 1rem;
      padding: 0.75rem 1.25rem;
  }

  .btn-hero:hover{
      color: #fff;
      background: #000;
  }